.app {
}

.pageRoot {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
}

.pageContent {
    background-color: white;
    border-radius: 0.5em;
    flex-grow: 1;
    margin: 1em;
    padding: 0.5em;
}
